*{

	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background-color:  #abb2b9;
}
.header{
	display:inline-block;
	text-align: left;
	position: fixed;
	top: 0;
	width: 100%;
	background-color:#c3404e; 
	height:50px;
}
.header h1{
	color: white;
	font-family:century;
	text-transform: uppercase;
}
.header1 img{
	margin-top: 100px;
}
.text-block{
	font-family: century;
	position: absolute; 
	left: 850px;
  bottom: 250px; 
  font-size: 20px;
  text-align: center;
  color: white; 
  width: 20%; 
  padding: 20px; 
}
.btn{
	padding: 10px 35px;
	background:linear-gradient(#c3404e black);
	font-size: 15px;
	color: white;

}
.btn:hover{
	
	font-weight: bold;
}

font{
	color: black;
	font-family:century;
	text-transform: uppercase;
}
section form input[type="text"]{
	margin-top: 15px;
	background-color: transparent;
	border-color: black;
	width:20%;
}
section{

	text-align:center;
	display:block;
	margin-top: -60px

}
/*section input{
	background-color: transparent;
	border-color: black;
	width:20%;
}*/
section button{
	color:black;
	background-color: transparent;
	box-sizing: border-box;
}
section i
{
	float: right;
    margin-top: -15px;
  	color: black;
  	text-decoration: none;
	display: block;
 	padding-right:15px;
 	 
}

.box1{
	margin-top: 50px ;
	height: 50px;
	background-color: #a32e3e;
	text-align: center;
	position: fixed;
	width: 100%;

}


.box1 ol{
	display: inline-flex;
	color: white;
	list-style-type: none;

	}
.box1 ol li{
	
	width: 120px;
	margin:5px;
	padding: 1px;

}
.box1 ol li a{
	text-decoration: none;
	color: white;
	font-size: 20px;

}
.box1 ol li a:hover{
	border-bottom: 4px solid red;
}
.header1{
	align-items: center;
	
}

.box3{
	
	text-align: center;

}
.box3 div{
	border:1px solid white;
	background-color: white;
	padding: 5px;
}
.img{
	display: inline-block;
	padding: 5px;
	margin: 5px;
}
.img:hover{
	box-shadow: 0 0 30px black;
}
.box3 h3{
	text-transform: capitalize;
	color:grey;
	font-size: 20px; 
}
.box3 h3:hover{
	color:  #eb4978;

}
----------------------------------------------/*BIRTHDAY*/-----------------------------------

.birthday{
	text-align: center;

}
.birthday div{
	border:1px solid white;
	background-color: white;
	padding: 5px;
}
.birthday h3{
	text-transform: capitalize;
	color:grey;
	font-size: 20px; 
}
.birthday h3:hover{
	color:  #eb4978;

}
/*.img::before {
  content: "Sale";
  background: red;
}*/
------------------------------------------------------/*EARING*/------------------------------------------------


h3{
	text-transform: uppercase;
	text-align: center
	color:white;
	   
}
.box4 font{
	color:white;
	font-size: 2rem;
	font-family: cursive;
	color: #c3404e;
	text-transform: uppercase;
}

.box4{
	text-align: center;
}
.box4 ul{
	display: inline-flex;
	
	list-style: none;
}
.box4 ul li{
	width: 50px;
	margin: 15px;
	padding: 15px;
	color: white

}
#box5{
	text-align:center;
	margin: 20px;
}
#box5 div{
	border:1px solid white;
	background-color: white;
	padding: 5px;

}

#box5 img{
	display: inline-block;
}
#box5 a{
	text-decoration: none;
}
#box5 h3:hover{
	padding-left: 8px;
	color: #c3404e; 
}

#box5 h3{

	text-transform: capitalize;
	color:grey;
	font-size: 20px;
}


.box4 ul li:hover{
	color:#FF1493;
}


.products h1{
	text-transform: capitalize;
	font-family: cursive;
	text-align: center;
	background-color: white;
}
#card1{
	display: flex;
	padding: 30px;
}
.card {
	
 border:1px solid none;
 background-color: white;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: century;
  transition: transform 0.5s;
}
.card:hover{
	transform: translateY(-5px);
}

.price {
  color: grey;
  font-size: 22px;
}
.card p{
	margin-bottom: 0px;
}
.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
----------------------------------------------/*LOGIN FORM*/-----------------------------------
.container{
	position: absolute;
}
.loginbox{
	width: 320px;
	height: 500px;
	background:linear-gradient(#382d6a, black);
	color: #fff;
	top:60%;
	left:50%;
	position: fixed;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius:50%;
	position: absolute;
	top: -10%;
	left:35%;
}
.loginbox h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"], input[type="email"]{
	border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline:none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background:#ffc107;
	color: #000;
}
.loginbox a{
	font-family: century;
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover{
	color: #ffc107;
}
----------------------------------------------/*FOOTER*/-----------------------------------
.container1{
	max-width: 1170px;
	background-color:red;
	margin: auto;
	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style-type: none;
}
.footer{
	background-color:#24262b;
	padding: 70px 0;
	}
.footer-col{
	width: 25%;
	padding: 0 40px;
}
.footer-col h4{
	font-family: century;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;

}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;

}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color:#ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/*@media only screen and (max-width: 768px) {
   For mobile phones: 
  [class*="col-"] {
    width: 100%;
  }
}*/
/*@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}*/